<% if @presets.any? %>
	var html = "<%= escape_javascript( render partial: 'shopping_lists/presets/preset', collection: @presets, locals: {shopping_list: @shopping_list } ) %>"
	html += "<%= escape_javascript(js_will_paginate @presets, :previous_label => 'הקודם', :next_label => 'הבא') %>"
	$('#presets').html(html);
	Preset.registerPresetToggle();
<% else %>
	$('#presets').html("<h4>אין תוצאות</h4>");
<% end %>