<!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer">
            <h1>ברוך הבא ל Shopify - מערכת לניהול קניות משותפות</h1>
            <% if user_signed_in? %>
                <p>בשביל להתחיל בחר רשימת קניות קיימת והוסף לה מוצרים</p>
                <p>או צור רשימת קניות חדשה</p>
                <p><a class="btn btn-primary btn-large">צור רשימת קניות!</a></p>
            <% else %>
                <p>בשביל להתחיל עליך</p>
                <%= link_to "להתחבר", new_user_session_path, class: "btn btn-primary btn-large" %> או
                <%= link_to "להרשם", new_user_registration_path, class: "btn btn-primary btn-large" %>
            <% end %>
            
        </header>

        <% if user_signed_in? %>
            <hr>
            <div class="row">
                <div class="col-lg-12">
                    <h3>רשימות אחרונות</h3>
                </div>
            </div>
            
            <div class="row text-center">
                <%= render partial: "shopping_list", collection: @shopping_lists %>
            </div>
        <% end %>