<div class="preset">
	<div class="preset-header">
		<h4 class="inline"><%= link_to preset.title, preset %></h4>
	</div>
	<div class="preset-products">
		<%= render partial: "products/products_minimal", locals: { products: preset.products } %>
	</div>
</div>