// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
$font-size-base:          16px !default;
@import "bootstrap-sprockets";
@import "bootstrap";
@import "jquery-ui.min";
@import "jquery.fancybox";
@import "jquery.fancybox-buttons";
@import "jquery.fancybox-thumbs";
@import "heroic-features";
@import "shopping_lists";
@import "presets";
@import "bootstrap-rtl.min";
@import "tablesaw.stackonly";

.user-info {
  margin-top: 13px;
}

.hide {
	display: none;
}

.left-space {
	margin-left: 5px;
}

.right-space {
	margin-right: 5px;
}

.left-space-big {
	margin-left: 20px;
}

.light-black {
	color: #222;
}

.inline {
	display: inline-block;
}

.bottom-space {
	margin-bottom: 15px;
}

.glyphicon-big {
	font-size: 20px;
}

a.link-no-style {
  color: inherit;
  text-decoration: none; /* no underline */
}

.border-top {
	border-top: 1px solid #dfdfdf;
}
