// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "heroic-features";
@import "shopping_lists";
@import "presets";
@import "bootstrap-rtl.min";

.user-info {
  margin-top: 13px;
}

.hide {
	display: none;
}

.left-space {
	margin-left: 5px;
}

.left-space-big {
	margin-left: 20px;
}

.light-black {
	color: #222;
}

.inline {
	display: inline;
}

.bottom-space {
	margin-bottom: 15px;
}

.glyphicon-big {
	font-size: 20px;
}