.search-form {
	margin-bottom: 15px;
}

.shopping-list-bought, .shopping-list-bought:hover {
	color: #2A910C;
  	text-decoration: none; /* no underline */
}

.was-bought-mark {
	padding: 0 3px;
	font-size: 16px;
	font-weight: bold;
}

.was-bought {
	@extend .was-bought-mark;
	font-style: italic;	
}

.bought-status-button {
	margin-top: -8px;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #E6E6E6;
}

.product-bought {
	text-decoration: line-through;
}